.landing{
    height: 90vh;

    .video{
        pointer-events: none;
        border: none;
    }

    .landingText{
        position: absolute;
        top: 10vh;
        height: 90vh;
        width: 97.82vw;
        align-content: center;

        .textContainer{
            height: 80%;
            width: 80%;
            color: white;
            padding: 10px;
            display: grid;

            p{}
            h2{
                padding: 0 10px;
            }
            ul{
                list-style: none;
                display: flex;
                gap: 15px;
            }
            button{
                height: 40%;
                width: 40%;
            }

        }
    }
}