@use '../mixins' as *;

@media only screen and (max-width: 700px){
    .header{

        .headerList{
            display: none !important;
        }
        
    }
}
.header{
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: black;
    color: white;

    .headerList{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 35px;

        .headerItem{
            &:hover{
                cursor: pointer;
            }
        }
    }

    .headerTitle{
        line-height: .01;
        height: 100%;
        display: grid;
        a{
            position: relative; 
            top: 20px;
            color: goldenrod;
            text-decoration: none;
        }

        .header2{
            font-size: .8em;
            font-weight: 400;
        }
    }

    .headerButton{
        @include button;
    }
}